.card{
    width: 33%;
    display: flex;
    align-items: center;
}

.card img{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    border:1px solid black;
}

.carddark{
    width: 33%;
    display: flex;
    align-items: center;
}

.carddark img{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 80%;
    border:1px solid rgb(255, 255, 255);
}