.header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin-left: 5%;
    margin-right: 5%;

}

.header img{
    width: 60px;
}

.header button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border-color: mediumpurple;
    color: mediumpurple;
}

.headerdark{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    margin-left: 5%;
    margin-right: 5%;
}

.headerdark button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border-color: white;
    color: white;
}
