.h1 {
    width: 288px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #572EE5;
    margin-left: 36%;
    margin-top: 6%;
}

.gifs {
    width: 900px;
    height: 1096px;
    background: #E7E7E7;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}