.text {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    height: 42px;
    width: 571px;
    margin-left: 20%;
    margin-top: 2%;

}

.img {
    height: 190px;
    width: 399px;
    border-radius: 40px;
}

.search {
    width: 542px;
    height: 55px;
    margin-left: 20%;
    margin-top: 1%;
    border: 1px solid #121212;
    border-radius: 61px;
    display: flex;
    justify-content: center;
}

.input {
    width: 86%;
    height: 90%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    border: none;
    color: #3F3F3F;
    margin: 0px 11px;
    border-radius: 61px;
    outline:none;
}

.imgSearch {
    width: 86px;
    height: 54px;
    background: #572EE5;
    border: 1px solid #000000;
    border-radius: 0px 61px 61px 0px;
}

.imgSearch img {
    height: 20px;
    width: 20px;
    margin: 20%;
}