* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: sans-serif;
  Font: Roboto;
  text-align: center;
  height: 1697px;
  width: 900px;
  margin-left: 10%;
  margin-top: 1%;
  border-radius: 0px;
}