* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  font-family: sans-serif;
  Font: Roboto;
  text-align: center;
  margin-top: 1%;
  border-radius: 0px;
 
  transition: background-color 0.5s ease;
}

.App.light{
  background-color: white;
}

.App.dark{
  background-color: #373737;
}